extends ./layout/layout.pug

block docs-header

    .docs-header.jumbotron.text-center
        .container
            img(src="images/stryker_205x205.png", alt="Stryker")
            h1 Stryker.NET
            p=tagline