
//- JavaScript
script(src="/javascripts/jquery-2.2.4.min.js")
script(src="/stylesheets/bootstrap/js/bootstrap.min.js")
script(src="/stylesheets/highlightjs/highlight.pack.js")
script(src="/javascripts/main.js")
script hljs.initHighlightingOnLoad();